.container {
    margin-top: 0px;
}

h1{
    color: rgb(125, 125, 125);
    text-align: center;
}

form {
    background-color: rgb(214, 239, 244);
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    height: 115px;
    padding: 2%;
}

form input{
    margin-bottom: 10px;
    width: 20%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: rgb(125, 125, 125);
    margin-right: 10px;
}

form input:hover{
    border: 1px solid #ffff;
}


form button{
    background-color: rgb(127, 207, 225);
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    width: 20%;
    height: 45px;
    color: rgb(125, 125, 125);
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
}

form button:hover{
    background-color: rgb(77, 182, 206);
    color: rgb(40, 39, 39);
}

.cadastro{
    color: rgb(125, 125, 125);
    background-color: rgb(184, 224, 232);
}

.cadastro:hover{
    background-color: rgb(148, 214, 228);
}

.cadastro a{
    color: rgb(125, 125, 125);
    margin-left: 60px;
}

.cadastro a:hover{
    color: rgb(41, 40, 40);
    text-decoration: none;
}

.tabela {
    background-color: rgb(214, 239, 244);
    padding: 10px;
    margin-top: 35px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: rgb(127, 207, 225);
    color: rgb(125, 125, 125);
    padding: 10px;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid rgb(127, 207, 225);
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody td:first-child {
    font-weight: bold;
}

a {
    color: rgb(127, 207, 225);
    cursor: pointer;
}

