form {
    background-color: rgb(214, 239, 244);
    width: 50%;
    margin: 0 auto;
    height: 300px;
    padding: 2%;
}

h1{
    text-align: center;
    color: rgb(125, 125, 125);
}

form input{
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 2%;
    color: rgb(125, 125, 125);
}

form input:hover{
    border: 1px solid #ffff;
}


form button{
    background-color: rgb(127, 207, 225);
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    color: rgb(125, 125, 125);
    font-weight: bold;
    font-size: 20px;
    padding: 1%;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons a{
    margin-top: 7%;
}